*{
  margin:0px;
  padding:0px;
}
footer a{
  padding:0 50px;
}

.nav,.profilecard,.wrap{background-color: #DFDBE5;
background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.12' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
.headerz{
    min-height:90vh;
  background-image:url('https://fthmb.tqn.com/wzV7nHfHAzzatixNnWAA0zhCDR0=/768x0/filters:no_upscale()/JavaScript-58acbb8a3df78c345bad32c2.jpg');
  background-repeat:no-repeat;
  background-size:cover;
    display: flex;
  margin:0 auto;
 
  
}
.nav{
  border-bottom:1px solid white;
}
.profilecard{
  width:300px;
  min-height:200px;
  background-color:red;
  padding:20px 0;
  margin:0 auto;
  justify-content:center;
  border-radius:50%;
}
.pic {
  overflow:hidden;
  border-radius: 50%;
  z-index:1;
  display:block;
  margin:0 auto;
  width:200px;
  border:4px solid white;
}

.projects,.blog,.about{
  padding:10vh 20px;
  min-height:90vh;
  margin:0 50px;
}
@media only screen and (max-width : 576px) {
/* Styles */
  .h3{
    font-size:5vw;
  }
  .display-1 {
    font-size:15vw;
  }
  .weather,.quotes,.hideaway{
    min-height:40vh;
  }
 .about,.projects,.blog{
  margin:0;
}
  footer a{
    padding:0 10px;
  }
}

.shadow {
  text-shadow: 2px 2px black;
}
.weather{
  background-image:url('https://preview.ibb.co/enN6LS/weather.png');
    background-size:cover;
}
.quotes{
  background-image:url('https://preview.ibb.co/iOhTZn/quote.png');
    background-repeat: no-repeat;
    background-size:cover;
}
.hideaway{
  background-image:url('https://preview.ibb.co/cbJkEn/Hideaway.png');
    background-size:cover;
}
.ole{
  background-image:url('https://preview.ibb.co/f2mGs7/oles.png');
    background-size:cover;
}
.wiki{
  background-image:url('https://preview.ibb.co/fGsgs7/wiki.png');
    background-size:cover;
}
.fts{
  background-image:url('https://preview.ibb.co/dSgkKn/FTS.png');
    background-size:cover;
}




.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.hover:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.description {
 color: white;
  font-size: 15px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.button{
  border:1px solid white;
  width:33%;
  position: absolute;
  top: 70%;
  left: 33%;
  color:white;
}
.button:hover{
  border:1px solid red;
  background-color:red;
  transition: .5s ease;
  cursor: pointer;
}
/*:target {
  padding-top: 50px;
}  scrolling offset 

clip-path: polygon(0 0, 100% 5%, 100% 95%, 5% 100%);
*/
.pad {
  padding:30px 0;
}
/* animation */
.hide{
  opacity:0;
  
}
.show{
    transition:4s ease;
    opacity:1;
}
.slidein{
    animation-name: slidein;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}


@keyframes slidein {
    from {left: -200%;}
    to {left:0px;}
}

