*{
  margin:0;
  padding:0;
  color:black;
  font-family: 'Ubuntu', sans-serif;
}

.top{
min-height:100vh;
 width:100vw;
background-image:linear-gradient(to bottom,rgba(0,0,0,0.6),rgba(0,0,0,0.8)),url('https://fthmb.tqn.com/wzV7nHfHAzzatixNnWAA0zhCDR0=/768x0/filters:no_upscale()/JavaScript-58acbb8a3df78c345bad32c2.jpg');
background-repeat:repeat;
background-size:cover;
display: flex;
margin:0 auto;
color:white;
 justify-content:center;
  animation:scroll 5s;
  position: relative;
}

.pic {
  border-radius: 50%;
  display:block;
  border:2px solid white;
  margin:0 auto;
  box-shadow: 0 0px 10px red;
}
.picture{
  top:0;
  margin:0 auto;
  padding-top:50px;
  justify-content:center;
  text-align:center;
}
.name{
  font-size:70px;
  display:inline-block;
  padding:20px 10px;
  text-shadow: 0 0px 10px red;
  color:white;
}
.title{
  font-size:40px;
  text-align:center;
  animation:fade 2s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
  color:red;
}
.slideleft{
   animation:slideinleft 3s;
}
.slideright{
  animation:slideinright 3s;
}
@keyframes fade{
  0% {
    opacity:0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes slideinleft{
  0% {
    opacity:0;
    transform: translateX(-100px);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes slideinright{
  0% {
    color:white;
    opacity:0;
    transform: translateX(100px);
  }


  100%{
    opacity: 1;
    transform: translate(0);

  }
}

.button{
  animation:down 2s;
  animation-iteration-count: infinite;
  color:red;
position:absolute;
  bottom:10px;
  left: 0;
right: 0;
margin: auto;
}

@keyframes down{
  0% {
    text-shadow: 0 0px 10px white;
    transform: translateY(-20px);
  }


  100%{
    
    transform: translate(0);
    text-shadow: 0 0px 100px red;

  }
}

.about,.projects, .contact{
  min-height:90vh;
  width:100vw;
  padding:40px 120px 80px 120px;
}
.aboutme{
  font-size:70px;
  font-family: 'Ubuntu', sans-serif;
  display:block;
  margin:0 auto;
  padding-bottom:30px;
}
p{
  font-size:20px;
}
.projects {
  background-color:#f2f2f2;
  padding:40px 200px 80px 200px;
}
       
.background{
  background-size:cover;
  background-position: top;
  box-shadow: 5px 5px 10px black;
}
.friends {
  background-image:url('https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-9/224881_10100965157857882_1530990715_n.jpg?_nc_cat=0&oh=934a51ddb71aed1f5f502b3b37cf395b&oe=5B33CB6A');
  height:250px;
  width:100%;
}

.right{
   animation:right 3s;
  animation-fill-mode: backwards;
}
.foosball {
    background-image:url("https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-9/13321873_10103486994357322_530112671116099595_n.jpg?_nc_cat=0&oh=cfc4d1f22127d17b9f9c91431c837651&oe=5B72CF9B");
  height:250px;
  width:100%;
}
.left{
  animation:left 3s;
  animation-fill-mode: backwards;
}
.middle{
  background-image:url('https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-9/1240623_10103148617442372_3184476213003894048_n.jpg?_nc_cat=0&oh=2431cc968b852f4ac8d1bac29ccaba97&oe=5B6BD4CC');
  background-position:top;
  height:300px;
  width:100%;
}
.up{
  animation:up 3s;
  animation-fill-mode: backwards;
}

@keyframes left {
  0% {
    opacity:0;
    transform: translateX(-100px);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes right {
  0% {
    opacity:0;
    transform: translateX(100px);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes up {
  0% {
    opacity:0;
    transform: translateY(100px);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}
.shadow {
  box-shadow: 5px 5px 10px black;
}
.project-title{
  padding:5px 0px;
}
.footer{
  height:10vh;
  width:100%;
}

.visit:link,
.visit:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding:15px 40px;
  display:inline-block;
  border-radius: 100px;
  transition: all .2s;
  position:relative;
  background-color: white;
}
.visit:hover{
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.visit:active{
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}


@media only screen and (max-width : 576px) {
  .name{
    font-size:40px;
  }
  .about,.projects, .contact{
  padding:40px 15px 80px 15px;
}
  .foosball,.friends{
    opacity:0;
    width:0px;
    height:0px;
  }
  .middle{
    max-width:60vw;
  height:50vh;
  }
  .left,.right{
    animation:none;
}
  .up{
  animation:up 5s;
  }
  .order2{
    order:2
  }
  .order1{
    order:1
  }
}

@media only screen and (max-width : 768px){
  .order2{
    order:2
  }
  .order1{
    order:1
  }
}

@media only screen and (max-width : 992px) {

  .about,.projects, .contact{
  padding:40px 5vw 80px 5vw;
}

}
